name: .NET Core

on:
  push:
   tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Save URL
        run: |
          echo "${{ steps.create_release.outputs.upload_url }}" >> url.txt
      - name: Upload URL
        uses: actions/upload-artifact@v1
        with:
          name: url
          path: url.txt
  build:
    name: Build
    needs: release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [linux-arm, win-x64, linux-x64, win7-x64, win10-x64]
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: ${{ matrix.os }} - Build with dotnet
      run: dotnet publish -c Release --self-contained -r ${{ matrix.os }} -o ./publish${{ matrix.os }} /p:PublishTrimmed=true /p:DebugType=None
    - name: ${{ matrix.os }} - Compress output
      run: tar cfJ publish${{ matrix.os }}.tar.xz publish${{ matrix.os }}
    - name: Download url
      uses: actions/download-artifact@v1
      with:
        name: url
    - name: set url
      shell: bash
      run: |
        echo "::set-env name=UPLOAD_URL::$(cat url/url.txt)"
    - name: ${{ matrix.os }} - Upload Release Asset
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: "${{ env.UPLOAD_URL }}"
        asset_path: ./publish${{ matrix.os }}.tar.xz
        asset_name: publish${{ matrix.os }}.tar.xz
        asset_content_type: application/x-tar
      
